@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Neucha&family=PT+Serif:wght@700&family=Poppins:wght@400;500;700&display=swap");

:root {
  --primary-clr: #016936;
  --secondary-clr: #10aa50;
  --bg-clr-1: #0b0a08;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: "Cutive Mono", monospace;
  background-color: var(--bg-clr-1);
}

section.welcome {
  height: 70vh;
  width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 50px 0;
  position: relative;
}
h2.heading {
  position: absolute;
  width: 100%;
  font-size: 4rem;
  line-height: 1.36;
  color: #fff;
  text-align: center;
  font-family: "PT Serif", serif;
  margin: 0 auto;
}

h2.heading-1 {
  left: -2000px;
  animation: slide 0.4s ease-out forwards;
}

@keyframes slide {
  100% {
    left: 0px;
  }
}
h2.heading-2 {
  right: -2000px;
  top: 140px;
  animation: slide2 0.4s 0.1s ease-out forwards;
}
@keyframes slide2 {
  100% {
    right: -3px;
  }
}

span.periodic {
  font-family: sans-serif;
  font-weight: 500;
  border: 2px solid #fff;
  padding: 7px 6px;
  background-image: linear-gradient(
    135deg,
    var(--primary-clr) 50%,
    var(--secondary-clr)
  );
}

h2.heading-3 {
  transform: rotate(-45deg);
  right: 50px;
  top: 150px;
  width: fit-content;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #fff;
  font-size: 2rem;
  font-family: "Cutive Mono", monospace;
  opacity: 0;
  animation: fall 1s 0.7s forwards;
}
@keyframes fall {
  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: --; */
  color: #fff;
}

.header nav a {
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.header .logo {
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-clr);
  color: #fff;
}

.header .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
  display: none;
}

.header .navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .navigation.show {
  display: block;
}
i.fa-bars {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* Landing section */

.landing-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.quote-wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  /* max-width: 500px; */
}
.landing {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100%;
  max-height: 70%;
  width: 100%;
  flex: 1;
}

.btn {
  border: 2px solid #fff;
  border-radius: 9999px;
  background-color: var(--primary-clr);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.landing-wrap .btn {
  margin-top: 20px;
  padding: 20px 30px;
  font-size: 1rem;
}

.card-btn {
  padding: 10px 20px;
}
h2#quotes-heading {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
}
h2#characters {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
}

h3 {
  padding: 20px;
  font-family: "Neucha", cursive;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.267);
}
h4 {
  padding: 20px;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  align-self: flex-end;
  color: #fff;
  text-shadow: 2px 2px black;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #fff;
  /* align-self: flex-start; */
  margin-bottom: 5px;
  font-size: 1.5rem;
}
#card-input {
  padding: 10px 0 10px 10px;
  border: none;
  margin-bottom: 40px;

  border-radius: 15px;
}
/* CARD STYLING  AND POSITIONING  */

.card-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  min-height: 100vh;
}

.card {
  height: 500px;
  width: 350px;
  border: 5px solid var(--primary-clr);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.card-info {
  background-color: rgba(34, 139, 34, 0.548);
  color: #fff;
  text-shadow: 1px 1px 4px black;
  padding: 10px 0;
}
.card h2 {
  text-align: center;
  font-family: "Cutive Mono", monospace;
  background-color: rgba(0, 0, 0, 0.664);
}
.card ul {
  padding: 20px;
  font-family: "Cutive Mono", monospace;
  font-size: 1.1rem;
}
.card li {
  margin: 5px 0;
}
.card li span {
  font-weight: 900;
}

.card .close {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  background-color: var(--primary-clr);
  padding: 8px 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0.7rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  h2#quotes-heading {
    margin-bottom: -100px;
  }
  .header .navigation {
    display: block;
  }

  .header .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header .navigation li {
    margin-right: 20px;
  }
  .header .navigation li:hover {
    text-decoration: underline;
  }

  i.fa-bars {
    display: none;
  }

  .landing-wrap {
    flex-direction: row;
  }
  .quote-wrap {
    margin-right: 10%;
  }
}
@media screen and (min-width: 780px) {
  .card-container {
    justify-content: flex-start;
  }
}
