@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Neucha&display=swap");

:root {
  --primary-clr: #016936;
  --secondary-clr: #10aa50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: #fff;
}
.header a {
  color: #fff;
}
.header .logo {
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-clr);
  color: #fff;
}

.header .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
  display: none;
}

.header .navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .navigation.show {
  display: block;
}
i.fa-bars {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* Landing section */

.landing-wrap {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.quote-wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  /* max-width: 500px; */
}
.landing {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100%;
  max-height: 70%;
  width: 100%;
  flex: 1;
}

.landing-wrap .btn {
  margin-top: 20px;
  padding: 20px 30px;
  border: 2px solid #fff;
  border-radius: 9999px;
  background-color: var(--primary-clr);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
h3 {
  padding: 20px;
  font-family: "Neucha", cursive;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.267);
}
h4 {
  padding: 20px;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  align-self: flex-end;
  color: #fff;
  text-shadow: 2px 2px black;
}

section.characters {
  background-color: black;
}

.card {
  width: 300px;
  height: 400px;
  margin: 10px;
  border: 5px solid var(--primary-clr);
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}
.card-img {
  width: 100%;
  height: 250px;
  background-image: url(/img/Jimmy+McGill.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.card h2 {
  text-align: center;
}
.card ul {
  padding: 20px;
}

.card ul li {
  margin-bottom: 5px;
}

@media screen and (min-width: 600px) {
  .header .navigation {
    display: block;
  }

  .header .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header .navigation ul li {
    margin-right: 10px;
  }

  i.fa-bars {
    display: none;
  }

  .landing-wrap {
    flex-direction: row;
  }
  .quote-wrap {
    margin-right: 10%;
  }
}
