@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Neucha&family=PT+Serif:wght@700&family=Poppins:wght@400;500;700&display=swap");

:root {
  /* Colors */
  --primary-clr: #016936;
  --secondary-clr: #10aa50;
  --bg-clr-1: #0b0a08;

  /* Fonts */
  --fs-heading-1: 3rem;
  --fs-heading-2: 1.5rem;
  --fs-text-1: 1rem;
  --fs-text-2: 1.5rem;
  --fs-link: 1.8rem;

  /* Weight */
  --fw-medium: 500;
  --fw-bold: 700;

  /* Line Height  */
  --lh-h: 1;
  --lh-p: 1.6;

  /* Text-Shadow */
  --text-shadow: 2px 2px black;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Text - Styling  */
a {
  color: #fff;
}
h2 {
  font-size: var(--fs-heading-1);
  font-weight: var(--fw-medium);
  line-height: var(--lh-h);
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  padding-top: 100px;
}

.header nav a {
  font-size: var(--fs-link);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

body {
  font-family: "Cutive Mono", monospace;
  background-color: var(--bg-clr-1);
  color: #fff;
  overflow-x: hidden;
}

/* BTN STYLING */

.btn {
  border: 2px solid #fff;
  border-radius: 9999px;
  background-color: var(--primary-clr);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-clr);
}

.btn:active {
  transform: scale(0.95);
}
.btn:focus {
  outline: none;
}

/* Start - Header Section*/

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #131313;
}

/* Logo */
.header .logo {
  font-family: "Poppins";
  font-weight: var(--fw-bold);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-clr);
  align-self: flex-start;
}

.header .logo:hover {
  background-color: var(--secondary-clr);
}

.header .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
  display: none;
}

.header .navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .navigation.show {
  display: block;
}

i.fa-bars {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-self: flex-start;
}
/* END - HEADER SECTION  */

/* LANDING -SECTION */
section.landing {
  height: 70vh;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 50px 0;
  position: relative;
}

h1.heading {
  position: absolute;
  width: 100%;
  font-size: 4rem;
  line-height: 1.36;
  text-align: center;
  font-family: "PT Serif", serif;
  margin: 0 auto;
}

/* Green squares logo */
span.periodic {
  font-family: sans-serif;
  font-weight: 500;
  border: 2px solid #fff;
  padding: 7px 6px;
  background-image: linear-gradient(
    135deg,
    var(--primary-clr) 50%,
    var(--secondary-clr)
  );
}

/* Landing Animations  */

h1.heading-1 {
  left: -2000px;
  animation: slide 0.4s ease-out forwards;
}

h1.heading-2 {
  right: -2000px;
  top: 140px;
  animation: slide2 0.4s 0.1s ease-out forwards;
}

h1.heading-3 {
  transform: rotate(-45deg);
  right: 50px;
  top: 150px;
  width: fit-content;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #fff;
  font-size: 2rem;
  font-family: "Cutive Mono", monospace;
  opacity: 0;
  animation: fall 1s 0.7s forwards;
}

/* Kerframes */

@keyframes slide {
  100% {
    left: 0px;
  }
}

@keyframes slide2 {
  100% {
    right: -3px;
  }
}

@keyframes fall {
  100% {
    opacity: 1;
  }
}
/* END LANDING SECTION */

/* QUOTES SECTION'*/

.quotes-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.author-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100%;
  max-height: 70%;
  width: 100%;
  flex: 1;
}

.quote-btn {
  margin-top: 20px;
  padding: 20px 30px;
  font-size: 1rem;
}

.quote-wrap h3,
.quote-wrap h4 {
  font-size: var(--fs-heading-2);
  padding: 20px;
  text-shadow: var(--lh-p);
}

h3.quote {
  font-family: "Neucha", cursive;
  font-style: italic;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.267);
}
h4.author {
  font-family: "Cutive Mono", monospace;
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: var(--fs-heading-2);
}
input {
  padding: 10px 0 10px 10px;
  border: none;
  margin-bottom: 40px;
  border-radius: 15px;
}
input:focus {
  outline: none;
  border: 2px solid var(--secondary-clr);
}

/* Filler section */
.filler {
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.filler-1 {
  background-image: url(img/background-3.jpg);
}
.filler-2 {
  height: 65vh;
  background-image: url(img/background-4.png);
}
.filler-3 {
  height: 65vh;
  background-image: url(img/background-5.jpg);
}
.filler-4 {
  height: 65vh;
  background-image: url(img/background-2.jpg);
}

/* CARD STYLING  AND POSITIONING  */

.container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  min-height: 500px;
}

.form .btn {
  padding: 10px 20px;
}

.card {
  height: 500px;
  width: 350px;
  border: 5px solid var(--primary-clr);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  transform: rotateY(90deg);

  animation: fadein 0.8s ease-out forwards;
}

@keyframes fadein {
  100% {
    transform: rotateY(0deg);
  }
}

.card-info {
  background-color: rgba(34, 139, 34, 0.548);
  text-shadow: 1px 1px 4px black;
  padding: 10px 0;
}
.card h3 {
  text-align: center;
  font-family: "Cutive Mono", monospace;
  background-color: rgba(0, 0, 0, 0.664);
}
.card ul {
  padding: 20px;
  font-family: "Cutive Mono", monospace;
  font-size: 1.1rem;
}
.card li {
  margin: 5px 0;
}
.card li span {
  font-weight: 900;
}

.card .close {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  background-color: var(--primary-clr);
  padding: 8px 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.deaths {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.death-item {
  font-weight: 700;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid white;
}

.death-item > * {
  font-size: 1.5rem;
  font-weight: var(--fw-medium);
}
.death-item .killer {
  color: #15eb84;
}
.death-item .killed {
  color: #ee2a55;
}

.death-item .cause {
  color: #7b83f8;
}

.death-btn {
  padding: 10px 40px;
  margin-bottom: 40px;
}

footer {
  padding: 50px;
  text-align: center;
  font-size: var(--fs-text-2);
  background-color: rgb(24, 24, 24);
}

footer a {
  color: var(--secondary-clr);
  cursor: pointer;
}

footer a:hover {
  color: #0beb68;
}

@media screen and (min-width: 600px) {
  .header .navigation {
    display: block;
  }

  .header .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header .navigation li {
    margin-right: 20px;
  }
  .header .navigation li:hover {
    text-decoration: underline;
  }

  i.fa-bars {
    display: none;
  }

  h2#quotes-heading {
    margin-bottom: -100px;
  }

  .quotes-container {
    flex-direction: row;
  }
  .quote-wrap {
    margin-right: 10%;
  }
}
@media screen and (min-width: 780px) {
  .quote-wrap h3 {
    font-size: 3rem;
  }

  .quote-wrap h4 {
    font-size: 1.5rem;
  }
  .card-container {
    justify-content: flex-start;
  }
}
